*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

header{
    min-height: 50vh;
    background-image: url(../img/design2_image1.jpg);
    background-size: cover;
}

header>h1{
    background-color: rgb(241, 241, 241);
    font-size: 50px;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}


html, body{
    width: 100% !important;
    background-color: rgb(241, 241, 241);
}

nav{
    min-height: 5vh;   
}

main{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}

 main>img{
    width: 20%;
}  

 #img2{
    width: 12%;
}

section p{
    text-align: start;
    margin-bottom: 1.5rem;
} 

nav a{
    text-decoration: none;
    display: inline-block;
    color: white;
    text-align: center;
    background-color: rgb(90, 149, 160);
    padding: 0.5rem;
    border: solid 2px black;
} 

a[href="#"]{
    background-color: black;
    color: aliceblue;
}

a:hover{
    color: black;
    background-color: orange;
}

#logo{
    width: 15%;
    align-self: flex-end;
}

main>h3{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px;
}

table{
    width: 80%;
    height: 100%;
    padding: 2rem;
}

caption{
    text-align:left;
    padding-top: 2rem;
    padding-left: 2rem;
    font-style: italic;
}

th{
    text-align: left;
}

td{
    text-align: left;
}

p {
    padding-left: 2rem;
}

h4{
    padding-left: 1rem;
}

