*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    -webkit-text-stroke: 0.5px black;
}

body{
    width: 100% !important;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    min-height: 65vh;
    background-image: url(../img/design2_image1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
}

header>h1{
    background-color: black;
    color: rgb(146, 8, 31);
    text-decoration: solid;
    font-size: 2.5rem;
    height: 4.5rem ;
    flex-grow: 2;
    text-align: center;
}

nav{
    min-height: 5vh;   
    background-color: rgba(155, 155, 114, 0.342);
    display: flex;
    flex-wrap: wrap;
}

main{
    min-height: 35vh;
    background-color: black;
    display: flex;
    color: aliceblue;
    padding: 3rem;
    justify-content: space-around;
}

article{
    display: flex;
    flex-direction: column;
}

article>h3{
    text-align: left;
    color: rgb(37, 36, 36);
    font-size: 2rem;
    padding-bottom: 2rem;
}

main>img{
    width: 25%;
    height: 25%;
    align-self: center;
}

section p{
    padding-left: 1rem;
    text-align: start;
    margin-bottom: 1.5rem;
}

nav a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 0.5rem;
} 

a[href="#"]{
    background-color: black;
    color: aliceblue;
}

a:hover{
    color: black;
    background-color: orange;
}

#logo{
    width: 5vw;
    align-self:flex-start;
    background-color: black;
}

table{
    width: 80%;
    height: 100%;
    padding: 2rem;
}

caption{
    text-align:left;
    padding-top: 2rem;
    padding-left: 2rem;
    font-style: italic;
}

th{
    text-align: left;
}

td{
    text-align: left;
}

tr{
    padding-bottom: 2rem;

}

ol,ul{
    padding: 2rem;
}

dt{
    padding-bottom: 1rem;
}

.secondOrder{
    list-style-type: lower-alpha;
       
}

footer{
    min-width: 3vw;
    padding: 2rem;
    background-color: rgba(155, 155, 114, 0.342);

}

footer p,table{
    padding-left: 3rem;
}

fieldset{
    padding: 1rem;
}

input[type="submit"]{
    background-color: orange;
    padding: 0.5rem;
    width: 7rem;
    height: 2rem;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

iframe{
    width:400px;
    height:250px;
    border:0;
}
